*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
nav {
  
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
  width: 95%; 
  text-align:center;
}

  nav ul {
    margin: 0;
    padding: 0;
  }

    nav ul li {
      display: inline-block;
      list-style-type: none;
      
      -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; 
    }
      
      nav > ul > li > a > .caret,
	  nav > ul > li > div ul > li > a > .caret {
        border-top: 4px solid #aaa;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        content: "";
        display: inline-block;
        height: 0;
        width: 0;
        vertical-align: middle;
         
  
        -webkit-transition: color 0.1s linear;
     	  -moz-transition: color 0.1s linear;
       	-o-transition: color 0.1s linear;
          transition: color 0.1s linear; 
      }
	  
	  	nav > ul > li > div ul > li > a > .caret {
			border-bottom: 4px solid transparent;
			border-top: 4px solid transparent;
			border-right: 4px solid transparent;
			border-left: 4px solid #f2f2f2;
			margin: 0 0 0 8px;
            
		}

      nav > ul > li > a {
          
        color:white;
        display: inline-block;
        line-height: 56px;
        padding: 0 50px;
        text-decoration:inherit;
        font-family: 'Unica One', cursive;
        text-transform:uppercase;
        
        
      }

        nav > ul > li:hover {
          background-color: rgb( 40, 44, 47 );
        }

        nav > ul > li:hover > a {
          color: rgb( 255, 255, 255 );
        }

        nav > ul > li:hover > a > .caret {
          border-top-color: rgb( 255, 255, 255 );
        }
		
		nav > ul > li > div ul > li:hover > a > .caret {
			border-left-color: rgb(255,255,255);
		}
      
      nav > ul > li > div,
	  nav > ul > li > div ul > li > div {
        background-color: rgb( 40, 44, 47 );
        border-top: 0;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
        display: none;
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 165px;
        visibility: hidden;
  
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
      }
	  
	  	nav > ul > li > div ul > li > div {
			background-color: rgb( 40, 44, 47 );
			border-radius: 0 4px 4px 4px;
			box-shadow: inset 2px 0 5px rgba(0,0,0,.15);
			margin-top: -42px;
			right: -165px;
		}

        nav > ul > li:hover > div,
		nav > ul > li > div ul > li:hover > div {
          display: block;
          opacity: 1;
          visibility: visible;
        }

          nav > ul > li > div ul > li,
		  nav > ul > li > div ul > li > div ul > li {
            display: block;
			position: relative;
          }

            nav > ul > li > div ul > li > a,
			nav > ul > li > div ul > li > div ul > li > a {
              color:white;
              display: block;
              padding: 12px 24px;
              text-decoration: none;
            }

              nav > ul > li > div ul > li:hover > a {
                background-color: rgba( 255, 255, 255, 0.1);
              }
header{
    text-align: center;
    display:block;
    width:auto;
    padding:10px 0px;
}

section{
    text-align: center;
    overflow: auto;
            /* Definimos el padding inferior:
               50px del pie de pagina mas 10px de separacion
            */
    padding-bottom: 90px;
            /* Definimos un padding superior */
    padding-top:50px;
}

.enlaceboton {    
   font-family: 'Unica One', cursive; 
   font-size: 10pt; 
   font-weight: bold; 
   padding: 4px; 
   background-color:white; 
   color: #666666; 
   text-decoration: none; 
} 
.enlaceboton:link, 
.enlaceboton:visited { 
   border-top: 1px solid #cccccc; 
   border-bottom: 2px solid #666666; 
   border-left: 1px solid #cccccc; 
   border-right: 2px solid #666666; 
} 
.enlaceboton:hover { 
    border-bottom: 1px solid #cccccc; 
   border-top: 2px solid #666666; 
   border-right: 1px solid #cccccc; 
   border-left: 2px solid #666666; 
}

body {
    
  background-color: black;
  color: #222;
  font-family: 'Unica One', cursive;
  font-weight: 300;
  font-size: 15px;
  font-family: 'Unica One', cursive;
}


#banner{
		position:inherit;
		padding: 250px;
		background: url("https://s-media-cache-ak0.pinimg.com/originals/1f/ca/a9/1fcaa9fa722604d92e2fc822aaea3bbb.jpg") no-repeat center;
		background-size: cover;
	}
/*http://www.umsl.edu/~centerforhumanities/files/images/piano.jpg*/



#columna_derecha{
    
    background-color: black;
    width:300px;
    float:right;
    margin-left: 5px;
    margin-right:1px;
    font-family: 'Unica One', cursive;
    overflow-y: hidden;
    height:511px;
    width:300px;
}

#columna_izquierda{
    
    background-color: black;
    float:left;
    margin-left: 5px;
    margin-right:1px;
    font-family: 'Unica One', cursive;
    overflow-y:scroll;
    height:511px;
    width:300px;  
    
}



#comlumna_central{
    width:auto;
    background-color:black;
    margin-left: 70px;
    margin-right: 290px;
    font-family: 'Unica One', cursive;
    font-size: 20px;
 

}

/*INICIO Página de Historia y quienes somos
AQUI AQUI AQUI
AQUI 
AQUI
*/
#comlumna_central_historia{
    text-align: center;
    line-height: 160%;
    display:block;
    margin-top: -44px;
    margin-left: 350px;
    width: 1220px;
    height: 600px;
}
#hi_historia{
    color: aliceblue;
    font-size: 50px;
    display:block;
    margin-bottom: 30px;  
}
#p_historia{
    text-align: center;
    font-family:'Maitree', serif;
    font-size: 15px; 
}
#imagen_historia{
    height: 11px;
    width: 70px;
}
#banner2_historia{
    display:block;
    margin-top: -30px;
    padding: 110px;
    background-color: white;
    opacity: 0.5;
    background-size: cover;
}
.container_historia{
    display:block;
    margin-left: 15%;
    height: 300px;
}
.container_historia img{
    margin: 1%;
}
#videoSnow{
    align-content: center;
    margin-top: 105px;
}

p{
    color:white;
    font-family: 'Unica One', cursive;
    font-size: 16px;
}
h1{
    color:white;
     font-family: 'Unica One', cursive;
    font-size: 40px;
    text-align: center;    
}
h2{
    color:white;
     font-family: 'Unica One', cursive;
    font-size: 40px;
}
li{
    font-size: 18px;
    color:white;
}
ul{
    list-style:none;
}
/*slider*/
.slider{
    width: 60%;
    height: 60%;
    margin: auto;
    overflow: hidden;
}
 
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-out;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width:100%;
}

@keyframes cambio{
    0% { margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
/*fin slider*/

.Enlace_imagen{
    width: 55%;
    position:static;
    left:50%;
    transform: translate(40%);
}


.Enlace_imagen div{
   display: inline-block;
    align-content: center;
    margin:auto;
}
        footer {
            position: relative;
            width: 100%;
            height: 200px;
            padding:5px 0px;
            clear: both;
            background: rgba(0,0,0,0.7);
            text-align: center;
            background: url("http://rahwan.wap.sh/images/footer-spectrum.jpg") no-repeat center;
            opacity: 0.65;
            margin-top: 2%;
        }
.define div{
 display: inline-block;
    align-content: center;
    margin:1%;
    transform: translateY(70%);
}

#banner2{
    position: absolute;
    margin-top: 120%;
    position:inherit;
    padding: 110px;
    background-color: white;
    opacity: 0.10;
    background-size: cover;
	}
.Contacto{
    margin-top:-9%;
    margin-left: 5%;
}
.Contacto li{
    text-align: left;
    width: 20%;
    font-size: 90%;
    margin: 0.5%;
}
.Contacto b{
    color:deeppink
    }